body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #94a8b6, #3780bb);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

#setup-screen {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1 {
    margin-bottom: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid #333;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background: #333;
}

.cell.x {
    color: #ff5c5c;
}

.cell.o {
    color: #5c85ff;
}

.winning-message {
    display: none;
    font-size: 1.5rem;
}

.winning-message.show {
    display: block;
}

.winner {
    background-color: lightgreen;
}